<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
	        <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/projects/">Projects</a></li>
        		<li><a href="/publications/">Publications</a></li>
			<li><a href="/cv/">CV</a></li>
        		<li><a href="/blog/">Blog</a></li>
			<li><a href="/misc/">Miscellaneous</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
    </div><!-- /.container -->
		<footer>
    		<ul>
			<center>
        		<a href="mailto:gulania@usc.edu"><i class="fa fa-envelope-square fa-3x"></a>
        		<a href="https://github.com/sgulania"><i class="fa fa-github-square fa-3x"></i></a>
			<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=239&t=n&d=rfkU5J3Xum7E0eLs19hwrKBeZw_gLL6Xn8GhO05ax7I"></script>
			</center>

			</ul>
		</footer>
	</body>
</html>
