<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
	        <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<SCRIPT SRC='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></SCRIPT>
		<SCRIPT>MathJax.Hub.Config({ tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}})</SCRIPT>
		<script type="text/x-mathjax-config">                                           
			  MathJax.Hub.Config({                                                          
		    "HTML-CSS": { scale: 165}                                                   
		  });                                                                           
		</script> 
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/projects/">Projects</a></li>
        		<li><a href="/publications/">Publications</a></li>
			<li><a href="https://sahilgulania.github.io/cv/cv_latest.pdf"">CV</a></li>
        		<li><a href="/blog/">Blog</a></li>
			<li><a href="/misc/">Miscellaneous</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
    </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:gulania@usc.edu" title="Email"><i class="fa fa-envelope-square" style="font-size:48px;color:black"></i></a></li>
        		<li><a href="https://github.com/sgulania" title="GitHub"><i class="fa fa-github-square" style="font-size:48px;color:black"></i></a></li>
			<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=239&t=n&d=rfkU5J3Xum7E0eLs19hwrKBeZw_gLL6Xn8GhO05ax7I"></script>

			</ul>
		</footer>
	</body>
</html>
